/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,900&display=swap');

@font-face {
  font-family: 'undefined-medium';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/undefined-medium.eot"); /* IE9 Compat Modes */
  src: url("/fonts/undefined-medium.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  src:
  url("/fonts/undefined-medium.woff") format("woff"),
  url("/fonts/undefined-medium.woff2") format("woff2"),
  url("/fonts/undefined-medium.otf") format("opentype"),
  url("/fonts/undefined-medium.ttf") format("truetype");
  }

@font-face {
  font-family: 'Bitter-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Bitter-Regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Bitter-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  src:
  url("/fonts/Bitter-Regular.woff") format("woff"),
  url("/fonts/Bitter-Regular.woff2") format("woff2"),
  url("/fonts/Bitter-Regular.otf") format("opentype"),
  url("/fonts/Bitter-Regular.ttf") format("truetype");
  }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.lang-en {
  color: cyan !important;
}

.lang-pt {
  color: #00D250 !important;
}

#yell {
  color: rgb(241, 250, 140);
}

#sec3 {
  font-weight: bold;
  color: rgb(139, 233, 253);
}

#sec4 {
  font-weight: 900;
}

#list1, #list2, #list3, #list4 {
  font-style: italic;
}

#list1, #list3 {
  color: rgb(255, 30, 50);
}

#list2, #list4 {
  color: rgb(145 ,255 ,255);
}

.modal-content {
  background-color: rgb(82, 82, 82);
}

.spelldesc {
  color: rgba(203, 202, 255, 0.842);
}

.popover {
  z-index: 9999 !important;
}

.imgicon {
  background: transparent;
  border: none !important;
  font-size:0;
  height: 70px;
  width: 70px;
  outline: none !important;
}

.foot {
  border-top: 1px solid;
  border-top-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.45);
}

.disbtn {
  background: transparent;
  border: none !important;
  font-size:0;
  height: 70px;
  width: 70px;
  outline: none !important;
}

button:hover, button:checked {
  border: none !important;
  background: transparent;
  outline: none !important;
}

.betabtn {
  border: none !important;
  background: transparent;
  outline: none !important;
  color: #fff !important;
}

h1 {
  font-size: 72px;
}

html,
body {
  background: rgb(29, 1, 1);
  background: linear-gradient(0deg, rgb(59, 4, 4) 0%, rgb(92, 7, 7) 56%, rgb(114, 9, 9) 87%);
}

header {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
}

.border-dark {
  border-color: black !important;
}

html, body {
  height: 100%;
}

.blog-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.blog-text {
  font-family: 'Bitter-Regular', sans-serif;
  font-weight: 100;
  color: white;
}

.blog-post {
  border-color: black !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.blog-icon {
  border-color: black !important;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .6);
}

.blogdiv {
  min-height: 60%;
  height: 60%;
}

body {
  color: #fff;
  font-family: 'undefined-medium' !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
